@font-face {
    font-family: Bobby Jones;
    src: url('BobbyJonesSoft-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'Bobby Jones';
    margin: 0;
    padding: 0;
    background: url('homepage1.jpg') no-repeat center center fixed;
    background-size: cover;
    position: relative;
    width: 100%;
    overflow-x: hidden;
}

.background-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    pointer-events: none;
}

h1, h2, h3, .inscricao button, header, nav a {
    font-family: 'Bobby Jones';
}

header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: rgba(0, 0, 0, 0.6);
    padding: 20px;
    width: 100%;
    color: white;
    position: relative;
    z-index: 2;
    flex-wrap: wrap; /* para ajustar em telas pequenas */
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    max-height: 80px;
    width: auto;
}

nav {
    display: flex;
    gap: 30px;
    font-size: 18px;
    justify-content: center;
    flex-grow: 0.8;
    flex-wrap: wrap;
}

nav a {
    text-decoration: none;
    color: white;
    padding: 10px;
    transition: 0.3s;
}

nav a:hover {
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 5px;
}

.inscricao {
    display: flex;
    align-items: center;
}

.inscricao button {
    font-family: 'Bobby Jones';
    padding: 10px 20px;
    background-color: #ffffff;
    color: #565656;
    border: none;
    cursor: pointer;
    border-radius: 50px;
    font-size: 18px;
    white-space: nowrap;
}

.inscricao button:hover {
    background-color: #C1DBDC;
    color:#ffffff;
}

.main-section {
    position: relative;
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
}

.main-section::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    z-index: 1;
}

.logo-container,
.main-section h1 {
    position: relative;
    color: white;
    z-index: 2;
    font-size: 30px;
    font-weight: 300;
    margin-top: 20px;
}

.logo-container img {
    max-height: 250px;
    width: auto;
}

footer {
    background-color: #565656;
    color: white;
    text-align: center;
    padding: 20px;
    position: relative;
    bottom: 0;
    width: 100%;
}

footer a {
    color: #ffffff;
    font-family: 'Lato';
    text-decoration: none;
    font-weight: lighter;
    letter-spacing: 2px;
}

footer a:hover {
    text-decoration: underline;
}

.sobre-nos {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 60px 10%;
    background-color: #ffffff;
    flex-wrap: wrap;
}

.conteudo-texto {
    flex: 1 1 50%;
    padding-right: 40px;
    text-align: justify;
    color: #565656;
    position: relative;
    z-index: 2;
    font-family: 'Lato';
    font-size: 30px;
    font-weight: 300;
    margin-top: 20px;
    min-width: 280px;
}

.conteudo-texto h2 {
    font-size: 30px;
    margin-bottom: 20px;
    color: #565656;
    font-weight: 300;
}

.conteudo-texto p {
    margin-bottom: 20px;
    line-height: 1.6;
    font-size: 18px;
}

.conteudo-imagem {
    flex: 1 1 40%;
    display: flex;
    justify-content: center;
    min-width: 280px;
    margin-top: 20px;
}

.conteudo-imagem img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    opacity: 0.9;
}

.carrossel {
    position: relative;
    width: 100%;
    max-width: 600px;
    height: 400px;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    margin: 0 auto;
}

.carrossel img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

.carrossel img.active {
    opacity: 1;
    z-index: 1;
}

.carrossel-controle {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(86, 86, 86, 0.6);
    border: none;
    color: white;
    font-size: 24px;
    padding: 10px 15px;
    cursor: pointer;
    z-index: 2;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.carrossel-controle:hover {
    background-color: rgba(86, 86, 86, 0.9);
}

.carrossel-controle.anterior {
    left: 10px;
}

.carrossel-controle.seguinte {
    right: 10px;
}

.secao-servicos {
    color: white;
    padding: 80px 10% 60px;
    text-align: justify;
    background-image: url('sala1.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}

.secao-servicos::before {
    content: "";
    position: absolute;
    top: 0; left: 0; right: 0; bottom: 0;
    background: rgba(0,0,0,0.6);
    z-index: 0;
}

.secao-servicos > * {
    position: relative;
    z-index: 1;
}

.titulo-principal {
    font-size: 30px;
    margin-bottom: 10px;
    font-weight: 300;
}

.subtitulo-servicos {
    font-size: 18px;
    color: #ffffff;
    margin-bottom: 10px;
    font-weight: lighter;
    letter-spacing: 1px;
}

.grade-servicos {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 40px;
    margin-bottom: 10px;
    text-align: left;
}

.servico h3 {
    font-size: 18px;
    color: #ffffff;
    margin-bottom: 10px;
    font-weight: lighter;
}

.servico p {
    font-size: 18px;
    font-weight: lighter;
    font-family: 'Lato';
    line-height: 1.6;
    color: #dddddd;
}

.botao-orcamento {
    text-align: center;
    position: relative;
    z-index: 5;
}

.botao-orcamento button {
    font-family: 'Bobby Jones', Arial;
    padding: 10px 20px;
    background-color: #ffffff;
    color: #565656;
    border: none;
    cursor: pointer;
    border-radius: 50px;
    font-size: 18px;
}

.botao-orcamento button:hover {
    background-color: #C1DBDC;
    transition: all 0.3s ease-in-out;
    color:#ffffff;
}

header, .main-section {
    position: relative;
    z-index: 1;
}

.kpis {
    display: flex;
    justify-content: flex-end;
    gap: 60px;
    margin-top: 30px;
    flex-wrap: wrap;
}

.kpi {
    text-align: center;
    font-family: 'Bobby Jones';
    width: 190px;
    height: 190px;
    border-radius: 50%;
    background-color: #C1DBDC;
    color: white;
    text-shadow: 1px 1px 2px rgba(0,0,0,0.4);
    font-size: 30px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.3s ease, transform 0.3s ease;
    cursor: pointer;
    margin: 10px;
}

.kpi:hover {
    background-color: #86A3A9;
    transform: scale(1.5);
}

.kpi-numero {
    display: none;
    font-size: 30px;
    font-weight: 300;
    color: #ffffff;
    text-shadow: 1px 1px 2px rgba(0,0,0,0.4);
}

.kpi:hover .kpi-numero {
    display: inline;
}

.kpi p {
    font-size: 30px;
    font-weight: 300;
    color: white;
}

.footer-socials {
    margin-top: 10px;
}

.footer-socials a {
    color: white;
    margin: 0 10px;
    font-size: 20px;
    text-decoration: none;
    transition: color 0.3s ease;
}

.footer-socials a:hover {
    color: #FFE7A9;
}

.footer-links {
    margin-bottom: 10px;
    font-size: 14px;
}

.footer-links a {
    margin-right: 20px;
}

.footer-links a:last-child {
    margin-right: 0;
}

footer i {
    margin-right: 6px;
}

.onde-encontrar {
    background-image: url('
